{% extends 'base.html' %}

{% block header %}


          <!--Jumbotron-->
          <div class=".p-sm-5 mb-4 bg-light rounded-3 card2">
            <div class="jumbotronback container-fluid py-5">
                <h1 class="display-5 fw-bold text-white customOutline">Upcoming Music Event:</h1>
                <h4 class="display-5 fw-bold text-warning changeFont customOutline">Red Hot Chilli Peppers</h4>
                    <p id = JumboPara class="col-md-8 fw-bold text-white fs-4 bg-dark rounded-3">One of the most popular rock groups in the world is coming to Australia. 
                        This famous rock band will be playing in all major Australian cities. This will be that last chance you have to see this amazing band. In This tour they
                         will be performing their iconic album Stadium Arcadium released in 2006. Book tickets now to secure a seat for this amazing event.</p>
                    <a href="{{url_for('events.show', id=event.id)}}" class="btn btn-primary margin3">Find Tickets</a>
            </div>
        </div>

{% endblock %}
   
{% block content %} 
        
        <!--Welcome Message-->
        <h1 class = "text-center">Welcome to the MusicEvents Website! </h1>
        <!--Seach All Music text-->
        <h6 class = "text-center">Search All Music </h6>


        <div class="container-fluid">

            <form class="form-inline d-flex flex-nowrap" id = searchbar action="{{url_for('main.search')}}" >
                <input type="text" name="search" class="pad2 form-control flex-grow-1 my-1 mr-sm-2 a margin3" id="innerSearchBar">
                <button type="submit" class="flex-shrink-1 btn btn-primary my-1">&#128269</button>
            </form>
            <!--Search by Catergoy text-->
            <h6 class = "text-center">Search Music by Category </h6>

             <!--Catergory Nav Bar-->
             <ul class="margin nav justify-content-center">
                <li class="nav-item bg-dark rounded-3 nav2li">
                  <a class="nav-link active" href="#rock" id = 'CatBar'>Rock</a>
                </li>
                <li class="nav-item bg-dark rounded-3 nav2li">
                  <a class="nav-link" href="#pop" id = 'CatBar'>Pop</a>
                </li>
                <li class="nav-item bg-dark rounded-3 nav2li">
                  <a class="nav-link" href="#jazz" id = 'CatBar'>Jazz</a>
                </li>
                <li class="nav-item bg-dark rounded-3 nav2li">
                    <a class="nav-link" href="#Country" id = 'CatBar'>Country</a>
                </li>
                <li class="nav-item bg-dark rounded-3 nav2li">
                    <a class="nav-link" href="#Electronic" id = 'CatBar'>Electronic</a>
                </li>
                <li class="nav-item bg-dark rounded-3 nav2li">
                    <a class="nav-link" href="#" id = 'CatBar'>Funk</a>
                </li>
                <li class="nav-item bg-dark rounded-3 nav2li">
                    <a class="nav-link" href="#" id = 'CatBar'>Reggae</a>
                </li>
                <li class="nav-item bg-dark rounded-3 nav2li">
                    <a class="nav-link" href="#" id = 'CatBar'>Heavy Metal</a>
                </li>
                <li class="nav-item bg-dark rounded-3 nav2li">
                    <a class="nav-link" href="#" id = 'CatBar'>Rhythm and Blues</a>
                </li>
            </ul>
            <table class = "center">
                <tr style="border-bottom: 1px dotted silver;">
                    <td style="width:1500px"></td>
                    <td style="width:200px"></td>
                </tr>
            </table>

            <!--Row 1 ROCK category-->
            <h2 class = "text-center margin4" id="rock"><b><u>Rock Music Events</u></b></h2>
            <div class="row">
                {% for rockEvent in rockEvent  %}
                <div class="col-12 col-lg-4 col-md-4 col-sm-4 card center margin4" style="width: 30rem;">
                    <img src="{{rockEvent.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{rockEvent.name}}</h4>
                        <h6 class="card-title text-info">Status: {{rockEvent.status}}</h6>
                        <p class="card-text">{{rockEvent.description}}</p>
                        <a href="{{url_for('events.show', id=rockEvent.id)}}" class="btn btn-primary">Find Tickets</a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!--dividing line-->
            <table class = "center">
                <tr style="border-bottom: 1px dotted silver;">
                    <td style="width:1500px"></td>
                    <td style="width:200px"></td>
                </tr>
            </table>

            
            <!--Row 1 POP category-->
            <h2 class = "text-center margin4 " id="pop"><b><u>Pop Music Events</u></b></h2>
            <div class="row">
                {% for popEvent in popEvent  %}
                <div class="col-12 col-lg-4 col-md-4 col-sm-4 card center margin4" style="width: 30rem;">
                    <img src="{{popEvent.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{popEvent.name}}</h4>
                        <h6 class="card-title text-info">Status: {{popEvent.status}}</h6>
                        <p class="card-text">{{popEvent.description}}</p>
                        <a href="{{url_for('events.show', id=popEvent.id)}}" class="btn btn-primary">Find Tickets</a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!--dividing line-->
            <table class = "center">
                <tr style="border-bottom: 1px dotted silver;">
                    <td style="width:1500px"></td>
                    <td style="width:200px"></td>
                </tr>
            </table>

            
            <!--Row 1 Jazz category-->
            <h2 class = "text-center margin4 " id="jazz"><b><u>Jazz Music Events</u></b></h2>
            <div class="row">
                {% for jazzEvent in jazzEvent %}
                <div class="col-12 col-lg-4 col-md-4 col-sm-4 card center margin4" style="width: 30rem;">
                    <img src="{{jazzEvent.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{jazzEvent.name}}</h4>
                        <h6 class="card-title text-info">Status: {{jazzEvent.status}}</h6>
                        <p class="card-text">{{jazzEvent.description}}</p>
                        <a href="{{url_for('events.show', id=jazzEvent.id)}}" class="btn btn-primary">Find Tickets</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            
{% endblock %}