{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="container-fluid backgroundCustom margin card2">
    <h2 class = "text-center pad changeFont"><strong>Booking History</strong></h2>

   
    
    <div class = "row pad">
      <div class="col-12 card center pad" style="width: 62rem;">
        <div class="container">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Order ID#</th>
                  <th scope="col">Status</th>
                  <th scope="col">Music Event:</th>
                  <th scope="col">Ticket Qty:</th>
                  <th scope="col">Total Price (AUD):</th>
                  <th scope="col">Booking Date:</th>
                </tr>
              </thead>
              <tbody>
                {% for record in records %} 
                  <tr>
                   
                      <th scope="row"><b>{{record[0].booking_Id}}</b></th>
                      <th scope="row">Upcoming</th>
                      <th scope ="row"><a href="{{url_for('events.show', id=record[0].events_id)}}">{{record[1].name}}</a> 
                        <img src="{{record[1].image}}" class="center" alt="Responsive image"></th>
                      <th scope="row">{{record[0].quantity}}</th>
                      <th scope="row">${{record[0].price}}(GST Inc.)</th> 
                      <th scope="row">{{record[0].booking_date}}</th>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

{% endblock %}