{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="container-fluid backgroundCustom  margin4">
    <div class = "row pad ">
      <div class=" card center pad margintop" style="width: 60rem;">
        <h1 class = "text-center pad changeFont card backgroundCustom2 center border-secondary"><strong>Booking History</strong></h1>
        % if records[0]|length >0 %}
        <h6 class = "text-center changeFont pad">Events you have booked.</h6>
        {% endif  %}
        <hr>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="table-responsive-xl">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"><b>Order ID#</b></th>
                  <th scope="col"><b>Status:</b></th>
                  <th scope="col"><b>Music Event:</b></th>
                  <th scope="col"><b>Ticket Qty:</b></th>
                  <th scope="col"><b>Total Price (AUD):</b></th>
                  <th scope="col"><b>Booking Date:</b></th>
                </tr>
              </thead>
              <tbody>
                <!--jinja2 for loop to get record-->
                {% for record in records %} 
                  <tr>
                   
                      <th scope="row"><b>{{record[0].booking_Id}}</b></th>
                      <th scope="row">{{record[1].status[0]}}</th>
                      <th scope ="row"><a href="{{url_for('events.show', id=record[0].events_id)}}">{{record[1].name}}</a> 
                        <img src="{{record[1].image}}" class="card-img-top pad" alt="Responsive image"></th>
                      <th scope="row">{{record[0].quantity}}</th>
                      <th scope="row">${{record[1].price * record[0].quantity}}<br>(GST Inc.)</br></th> 
                      <th scope="row">{{record[0].booking_date}}</th>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <!--if no record display no bookings message-->
            {% if records[0]|length ==0 %}
            <div class = "card  margin">
              <h6 class="card-title text-danger text-center pad2"><b>You have no bookings record.</b></h6>
              <hr>
          </div>
            {% endif  %}
          </div>
        </div>
      </div>
    </div>
</div>
<!--back to top button-->
<div class = "col text-center">
  <a href="#" class="btn text-center buttonCustom2 border-secondary">Back to top</a>
</div>
{% endblock %}