{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<style>
  .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        
}
.form1 {

 padding: 50px;
 position: relative;
}

</style>
<div class="container-fluid backgroundCustom margin card2">
  <div class="container-fluid margin2 pad ">
    {% with messages = get_flashed_messages(category_filter=["event"]) %}
    {% if messages %}
        {% for message in get_flashed_messages() %}
        <div class ="alert alert-warning">
            <button type="button" class="close btn-success" data-dismiss="alert" aria-label="close">x</button>
            {{message}}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="card col-lg-8 col-md-6 col-xs-2">
        <h1 class = "text-center changeFont">Add New Event</h1>
        <h6 class = "text-center changeFont">Enter a Event that you advertise to customers.</h6>
        <div class="row ">
          <div class="card form1 pad margin4">
              {{ wtf.quick_form(form, button_map={'submit':'success'}) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
