{% extends 'base.html' %}

{% block header %}
        {% with messages = get_flashed_messages(category_filter=["delete"]) %}
        {% if messages %}
        <div class="container-fluid margin pad">
            {% for message in get_flashed_messages() %}
            <div class ="alert alert-warning">
                <button type="button" class="close btn-success" data-dismiss="alert" aria-label="close">x</button>
                {{message}}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
        {% for event in event %}
            {% if 'Red Hot Chilli Peppers' in event.name %}
          <!--Jumbotron-->
          <div class=".p-sm-5 mb-4 bg-light rounded-3 card2">
            <div class="jumbotronback container-fluid py-5">
                <h1 class="display-5 fw-bold text-white customOutline">Upcoming Music Event:</h1>
                <h4 class="display-5 fw-bold text-warning changeFont customOutline">{{event.name}}</h4>
                    <p id = JumboPara class="col-md-8 fw-bold text-white fs-4 bg-dark rounded-3">{{event.description}}</p>
                    <a href="{{url_for('events.show', id=event.id)}}" class="btn btn-primary margin3">Find Tickets</a>
            </div>
        </div>
            {% endif %}
        {% endfor %}

{% endblock %}
   
{% block content %} 

        
        <!--Welcome Message-->
        <h1 class = "text-center">Welcome to the MusicEvents Website! </h1>
        <!--Seach All Music text-->
        <h6 class = "text-center">Search All Music </h6>


        <div class="container-fluid">

            <form class="form-inline d-flex flex-nowrap" id = searchbar action="{{url_for('main.search')}}" >
                <input type="text" name="search" class="pad2 form-control flex-grow-1 my-1 mr-sm-2 a margin3" id="innerSearchBar">
                <button type="submit" class="flex-shrink-1 btn btn-primary my-1">&#128269</button>
            </form>
            <!--Search by Catergoy text-->
            <h6 class = "text-center ">Search Popular Categories </h6>

             <!--Catergory Nav Bar-->
             <ul class="margin nav justify-content-center">
                <li class="nav-item bg-dark rounded-3 nav2li">
                  <a class="nav-link active btn-lg" href="#rock" id = 'CatBar'>Rock</a>
                </li>
                <li class="nav-item bg-dark rounded-3 nav2li">
                  <a class="nav-link btn-lg" href="#pop" id = 'CatBar'>Pop</a>
                </li>
                <li class="nav-item bg-dark rounded-3 nav2li">
                  <a class="nav-link btn-lg" href="#jazz" id = 'CatBar'>Jazz</a>
                </li>
            </ul>
            
            <hr>

            <!--Row 1 ROCK category-->
            <h2 class = "text-center margin4 backgroundCustom3 card center" id="rock"><b>Rock Music Events</b></h2>
            <div class="row">
                {% for rockEvent in rockEvent  %}
                <div class="col-12 col-lg-4 col-md-4 col-sm-4 card center margin4" style="width: 30rem;">
                    <img src="{{rockEvent.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{rockEvent.name}}</h4>
                        <h6 class="card-title text-info">Status: {{rockEvent.status[0]}}</h6>
                        <p class="card-text">{{rockEvent.description}}</p>
                        <a href="{{url_for('events.show', id=rockEvent.id)}}" class="btn btn-primary">Find Tickets</a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <hr>

            
            <!--Row 1 POP category-->
            <h2 class = "text-center margin4 backgroundCustom3 card center" id="pop"><b>Pop Music Events</b></h2>
            <div class="row">
                {% for popEvent in popEvent  %}
                <div class="col-12 col-lg-4 col-md-4 col-sm-4 card center margin4" style="width: 30rem;">
                    <img src="{{popEvent.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{popEvent.name}}</h4>
                        <h6 class="card-title text-info">Status: {{popEvent.status[0]}}</h6>
                        <p class="card-text">{{popEvent.description}}</p>
                        <a href="{{url_for('events.show', id=popEvent.id)}}" class="btn btn-primary">Find Tickets</a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <hr>

            
            <!--Row 1 Jazz category-->
            <h2 class = "text-center margin4 backgroundCustom3 card center" id="jazz"><b>Jazz Music Events</b></h2>
            <div class="row">
                {% for jazzEvent in jazzEvent %}
                <div class="col-12 col-lg-4 col-md-4 col-sm-4 card center margin4" style="width: 30rem;">
                    <img src="{{jazzEvent.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{jazzEvent.name}}</h4>
                        <h6 class="card-title text-info">Status: {{jazzEvent.status[0]}}</h6>
                        <p class="card-text">{{jazzEvent.description}}</p>
                        <a href="{{url_for('events.show', id=jazzEvent.id)}}" class="btn btn-primary">Find Tickets</a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <hr>
            <div class = "col text-center pad">
                <a href="/category" class="btn text-center buttonCustom2">Search All Categories</a>
            </div>
            <div class = "col text-center margin pad">
                <a href="/" class="btn text-center btn-secondary">Back to top</a>
            </div>
            
{% endblock %}